/* Logo centralizada no conteúdo */
.kast-header {
    text-align: center;
    padding: 2rem 0;
}

/* Tipografia igual DeepChem */
body, .wy-nav-content {
    font-family: Lato, proxima-nova, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

/* Largura do conteúdo */
.wy-nav-content {
    max-width: 850px;
}

/* Links roxos KAST */
a {
    color: #9c7aff !important;
}

.wy-menu-vertical a:hover {
    background: #9c7aff !important;
}