/* Tipografia igual DeepChem */
body, .wy-nav-content {
    font-family: Lato, proxima-nova, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

/* Largura do conteúdo */
.wy-nav-content {
    max-width: 850px;
}

